#b {
    margin-left: 50px;
    margin-top: 50px;
}
.right {
    margin-left: 50px;
}
#block {
    border: 1px solid;
    float: right;
    height: 300px;
    margin-right: 150px;
    width: 500px;
}
.bl {
    border: medium solid;
    float: right;
    height: 200px;
    margin-right: 150px;
    width: 500px;
}
#image {
    border: inherit;
    height: 70px;
    width: 70px;
}
#bind {
    border: medium solid;
    height: 300px;
    width: 500px;
}
#n {
    margin-right: 200px;
}

#message
{
   height: 20px;
    width: 20px;
}